*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes growBig {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}


body{
    background-color: rgba(29,32,58,255);
}

/* hr{
    border: 8px double maroon;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 200px;
} */

html {
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(white,antiquewhite); */
    /* background-color: lightslategray; */
    background-color: rgb(34, 22, 49);
    
    /* background-color: gray; */
    background-position: center;
    background-size: cover;
    position: relative;
    
}


html {
  scroll-behavior: smooth;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(45, 133, 235, 0.9); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 1px solid white;
    
  }
  
#topBtn:hover {
background-color: rgba(25, 78, 139, 0.9); /* Add a dark-grey background on hover */
}

nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
  
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.logoN{
    transition: 0.2s;
}

.logoN:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

nav img{
    width: 15%;
    margin: 10px;
 
}
.logoT{
    pointer-events: none;
}


.nav-links{
    flex: 1;
    text-align: right;
    z-index: 1;
    position:relative;
    
    
    
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-weight: 800;
    background-color: rgba(45, 133, 235, 0.9);
    border-radius: 15px;
    margin-bottom: 20px;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 30px;
}



.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after{
    width: 100%;
    
}

.text-box{
    width: 60%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.text-box h1{
    margin-top: 100px;
    font-size: 150px;
    transition: transform 0.5s;
    color: rgba(45, 133, 235, 0.9);
    text-shadow: 2px 2px white;
    animation: 1s ease-out 0s 1 growBig;
    -webkit-text-stroke: 1px white;
    
}

.text-box h1:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.text-box p{
    margin: 20px 0px 60px;
    font-size: 25px;
    color:white;
    line-height: 200%;
    text-align: center;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 800;
    background:transparent;
    position: relative;
    cursor: pointer;
    
}


.hero-btn:hover{
    border: 1px solid white;
    background:lightgray;
    transition: 1s;
    
}

nav .fa{
    display: none;
}
@media(max-width:1400px) {
    .text-box h1{
        margin-top: 500px;
        font-size: 15vw;
        transition: transform 0.5s;
        color: rgba(45, 133, 235, 0.9);
        text-shadow: 2px 2px white;
    }
}

@media(max-width:700px) {
    
    .text-box h1{
        margin-top: 100px;
        font-size: 15vw;
        transition: transform 0.5s;
        color: rgba(45, 133, 235, 0.9);
        text-shadow: 2px 2px white;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        margin-top:20px;
        

    }
    .nav-links{
        
        position:fixed;
        background: lightgray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }

    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        
    }

    nav .fa-bars:hover{
        transform: scale(1.1);
        
    }

    nav .fa-times{
        color:white;
        pointer-events: all;
        
    }
    nav .fa-times:hover{
        color:aqua;
        
    }
    
    .nav-links ul{
        
        padding: 10px;
        
    }
    
    .nav-links ul li a{
        color:white;
        font-size: 1.5em;
        
    }
    
}


/*about me*/
.bHead{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
    color: white;
    font-weight: 800;
    
}
.aboutB{
    /* background-image: linear-gradient(gray,lightgray); */
    background-color: rgba(29,32,58,255);
    width: 100%;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%235498d1' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
@media(max-width:1400px) {
    .about{
        font-size: 60px;
        color: white;
        text-decoration: solid;
        text-decoration-line: underline;
        text-underline-offset: 20px;
        margin-top: 200px;
       
    }
}

.about{
    font-size: 60px;
    color: white;
    text-decoration: solid;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    /* margin-top: 200px; */
   
}
.about::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.about:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}
  


.h2{
    font-size: 40px;
    font-weight: 600;
    flex-basis: 31%;
    
    
}

p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.column2 {
    /* float: left; */
    /* width:10%; */
    padding: 5px;
    flex: 45%;
    width: 100%;
    height: auto;
   
}
  
/* Clear floats after image containers */
.row2::after {
    content: "";
    clear: both;
    display: table;
}

.row2 {
    display: flex;
}


.acr h4{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 100px;
    font-size: 20px;
    /* background: rgba(45, 133, 235, 0.9); */
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}

.acr{
    flex-basis: 30%;
}


.acr1 h4{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 100px;
    font-size: 20px;
    /* background: rgba(45, 133, 235, 0.9); */
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}
.acr1{
    flex-basis: 30%;
    
}
.acr1 img{
    object-position: left;
}

.bBlock{
    flex-basis: 30%;
    background: rgba(45, 133, 235, 0.9);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    padding-bottom: 10px;
    border-color: white;
    border-style: solid;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.bBlock:hover{
    box-shadow: 0 0 40px 0px white;
}

.bSpaceBlock{
    flex-basis: 31%;
    background: rgba(45, 133, 235, 0.9);
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid white;
}
.projBlock{
    flex-basis: 31%;
    background: blue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid white;
}


.bSpaceBlock:hover{
    box-shadow: 0 0 40px 0px white;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
}

.bSpacePic{
    flex-basis: 31%;
    background: blue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

/*experience*/
.exp{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
    color:white;
    
}
.exp h2{
    text-decoration: solid;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    /* background-color: aqua; */
    /* width: 1000%; */
}

@media(max-width: 700px){
    .exp h2{
        font-size: 10vw;
    }
}
.exp p{
    color: white;
    
}
.expB{
    /* background-image: linear-gradient(white,antiquewhite);*/
    background-color: rgba(29,32,58,255);
    /* background: repeating-linear-gradient( -45deg, rgb(31, 3, 133) 0px, #000 5px, #333 6px, #333 11px, #000 12px); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%235498d1' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    
}

.exp-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
}


.exp-col img{
    width: 100%;
    height: 100%;
    
    

}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0, 0, 0, 0.5);
}
.exp-col:hover{
    box-shadow: 0 0 20px 0px white;
}
.layer h3{
    width: 100%;
    font-weight: 600;
    color: white;
    font-size: 40%;
    vertical-align: center;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    opacity: 1;
}

.hidden{
    display: block;
    flex-basis: 50%;
    background: rgba(45, 133, 235, 0.9);
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    color: white;
    border: 2px solid white;
    
    align-self: center;
}

.hidden h3{
    font-size: 50px;
}
.hidden p {
    font-size: 50px;
    font-size: 1.2vw;
    line-height: normal;
    color: white;
    font-weight: 300;
}
.hidden:hover{
    box-shadow: 0 0 40px 0px white;
}

@media(max-width: 700px){
    .hidden h3{
        font-size: 50%;
    }

    .hidden p{
        font-size: 30%;
    }

    .hidden{
        display: block;
        flex-basis: 50%;
        background: rgba(45, 133, 235, 0.9);
        border-radius: 10px;
        margin-bottom: 30%;
        padding: 10px 10px;
        box-sizing: border-box;
        transition: 0.5s;
        
        align-self: center;
    }

    .layer h3{
        width: 100%;
        font-weight: 600;
        color: white;
        font-size: 30%;
        margin-bottom:0%;
        left: 50%;
        transform: translateX(-50%);
        position:absolute;
        opacity: 0;
        transition: 0.5s;
    }
    
    .layer:hover h3{
        
        opacity: 1;
    }
}



/*projects*/
.projects{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(29,32,58,255);
    
   
    
}


.oproj{
    /* background-image: linear-gradient(antiquewhite,white); */
    background-color: rgba(29,32,58,255);
    
}
.projects h1{
    font-size: 70px;
    color: white;
    text-decoration: solid;
    text-decoration-line: underline;
    text-underline-offset: 20px;
}

@media(max-width: 700px){
    .projects h1{
        font-size: 10vw;
        text-decoration: solid;
        text-decoration-line: underline;
        text-underline-offset: 20px;
    }
}

.proj{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    
    
}

.proj img{
    /* width: 50%; */
    border-radius: 10px;
    height: 60%;
    width: 50%;
    object-position:  top ;
    object-fit:cover;
    transition: 0.2s;
    border: 3px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
    margin-top: 20px;
    margin-bottom: 20px;

}

.proj img:hover{
    box-shadow: 0 0 40px 0px white;
    transition: 0.2s;
}


.proj p{
    padding: 0;
    font-weight: 400;
    color:white;
    background: rgba(45, 133, 235, 0.9);
    padding:10px;
    border-radius: 20px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border: 2px solid white;
    

}

.projButtons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}


.proj h3{
    margin-top: 150px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    background: rgba(45, 133, 235, 0.9);
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    font-size: 50px;
    border: 2px solid white;

}

.proj2{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    
    
}



.proj2 img:hover{
    box-shadow: 0 0 40px 0px white;
    transition: 0.2s;
}


.proj2 p{
    padding: 0;
    font-weight: 400;
    color:white;
    background: rgba(45, 133, 235, 0.9);
    padding:10px;
    border-radius: 20px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    margin-top: 50px;
    border: 2px solid white;
    

}



.proj2 img{
    width: 50%;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    object-position: 0% 10%;
    object-fit:cover;
    transition: 0.2s;
    border: 3px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
    margin-top: 20px;
    margin-bottom: 20px;

}

.proj2 h3{
    margin-top: 150px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    background: rgba(45, 133, 235, 0.9);
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    font-size: 50px;
    border: 2px solid white;

}

.acrpic h3{
    margin-top: 150px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    background: rgba(45, 133, 235, 0.9);
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    font-size: 50px;
    border: 2px solid white;

}

.acrpic img{
    width: 50%;
    border-radius: 10px;
    height: 40%;
    
    object-position: 10% 10%;
    object-fit:cover;
    transition: 0.2s;
    border: 3px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
    margin-top: 20px;
    margin-bottom: 20px;
}

.miniProj{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 10%;
    text-align: left;
    
    
}


.miniProj img{
    /* width: 50%; */
    border-radius: 10px;
    height: 50%;
    object-position:  left;
    object-fit:cover;
    transition: 0.2s;
    border: 3px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
    margin-top: 20px;
    margin-bottom: 20px;
}

.miniProj img:hover{
    box-shadow: 0 0 40px 0px white;
    transition: 0.2s;
}


.miniProj p{
    padding: 0;
    font-weight: 400;
    color:white;
    background: rgba(45, 133, 235, 0.9);
    padding:10px;
    border-radius: 20px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    /* margin-bottom: 200px; */
    border: 2px solid white;
    border: 2px solid white;
    

}



.miniProj h3{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    background: rgba(45, 133, 235, 0.9);
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border: 2px solid white;
    font-size: 20px;

}

/* .proj a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
} */

@media(min-width:701px) and (max-width:1400px) {
    .miniProj2{
        flex-basis: 45%;
        border-radius: 10px;
        margin-bottom: 10%;
        text-align: left;
        margin-top: 150px;
        
    }
    .proj2 p {
        flex-basis: 31%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        margin-top: 100px;
        border: 2px solid white;
        
        
    }
}
@media(max-width:700px) {
    .miniProj2{
        flex-basis: 45%;
        border-radius: 10px;
        margin-bottom: 10%;
        text-align: left;
        /* margin-top: 150px; */
    }
    .miniProj img{
        margin: 0px;
    }
    .miniProj2 h3{
        /* margin-top: 20px;
        margin-bottom: 15px; */
        text-align: center;
        font-weight: 600;
        background: rgba(45, 133, 235, 0.9);
        padding: 20px;
        border-radius: 60px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%; 
        font-size: 25px;
        border: 2px solid white;
    
    }
    .miniProj h3{
        /* margin-top: 20px;
        margin-bottom: 15px; */
        text-align: center;
        font-weight: 600;
        background: rgba(45, 133, 235, 0.9);
        padding: 20px;
        border-radius: 60px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%; 
        font-size: 25px;
        border: 2px solid white;
    
    }
    
    .miniProj p{
        padding: 0;
        font-weight: 400;
        color:white;
        background: rgba(45, 133, 235, 0.9);
        padding:10px;
        border-radius: 20px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%; 
        margin-top: 10px;
        border: 2px solid white;
        
    
    }
    .acrpic img{
        width: 100%;
        height: 600px;
        object-position: center;
    }
}

.miniProj2{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 10%;
    text-align: left;
}

.miniProj2 img{
    /* width: 50%; */
    border-radius: 10px;
    height: 50%;
    object-position:  10% 10%;
    object-fit:cover;
    transition: 0.2s;
    border: 3px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;    
    margin-top: 20px;
    margin-bottom: 20px;
}

.miniProj2 img:hover{
    box-shadow: 0 0 40px 0px white;
    transition: 0.2s;
}


.miniProj2 p{
    padding: 0;
    font-weight: 400;
    color:white;
    background: rgba(45, 133, 235, 0.9);
    padding:10px;
    border-radius: 20px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    /* margin-bottom: 250px; */
    border: 2px solid white;
    margin-bottom: 50px;

}

.miniProj2 h3{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    background: rgba(45, 133, 235, 0.9);
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border: 2px solid white;
    font-size: 20px;

}

.miniProj2 h4{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    /* background: rgba(45, 133, 235, 0.9); */
    padding: 20px;
    border-radius: 60px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    

}

.fa-brands {
    margin-top: 20px;
    color:white;
    font-size: 3em;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    

}
.fa-chart-line:hover{
    color: green;
    transition: 0.2s;
}
.fa-youtube:hover{
    color: red;
    transition: 0.2s;
}
.fa-discord:hover{
    color: darkblue;
    transition: 0.2s;
}
.fa-gamepad:hover{
    color: darkblue;
    transition: 0.2s;
}
.fa-cat:hover{
    color: rgb(190, 124, 0);
    transition: 0.2s;
}
.fa-brands:active{
    transform: scale(0.9);
}
.fa-solid:active{
    transform: scale(0.9);
}

.fa-gamepad{
    margin-top: 20px;
    color:white;
    font-size: 3em;
    
}


.fa-chart-line{
    margin-top: 20px;
    color:white;
    font-size: 3em;
    
}
.fa-cat{
    margin-top: 20px;
    color:white;
    font-size: 3em;
    
}
.fa-github{
    margin-top: 20px;
    color:white;
    font-size: 3em;
}
.fa-github:hover{
    color: maroon;
    transition: 0.2s;
}


@media(max-width: 700px){
    .fa-cat{
        margin-top: 20px;
        color:white;
        font-size: 3em;
        
    }
    .fa-chart-line{
        margin-top: 20px;
        color:white;
        font-size: 3em;
        
    }
}

.imgbtn{
    transform: scale(10%);
}



/*contact*/
.contactB{
    /* background-image: linear-gradient(white,antiquewhite); */
    background-color: rgba(29,32,58,255);
    /* margin-top: auto; */
}
.contact{
    width: 70%;
    margin: auto;
    
    
}
.contact h1{
    font-size: 70px;
    text-align: center;
    
    color: white;
    text-decoration: solid;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    margin-bottom: 50px;
    
}
@media(max-width:1400px) {
    .contact h1{
        font-size: 70px;
        text-align: center;
        
        color: white;
        text-decoration: solid;
        text-decoration-line: underline;
        text-underline-offset: 20px;
        margin-bottom: 50px;
        margin-top: 150px;
        
    }
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    color: white;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    transition: all .2s ease-in-out; 
    
    
}

.contact-col div .fa{
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
    color: white;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
}



.contact-col div:hover{
    color: white;
    transform: scale(1.1);
    transform-origin: left;
    
}

.contact-form{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;
    
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    
}

.fa-user{
    color: white;
}
.fa-envelope{
    color: white;
}
.fa-message{
    color: white;
}
.fa-messages{
    color:white;
    font-size: 1em;
}

.pfp{
    width:15%;
    height:auto;
    border-radius: 100px;
}

@media(max-width: 700px){
    .pfp{
        width:30%;
        height:auto;
        border-radius: 100px;
    }
}

.send-btn{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 400;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    
}
.send-btn:active{
    transform: scale(0.9);
}



#emailCopy{
    display: none;
}

/*footer*/
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
    /* background-image: linear-gradient(antiquewhite,white); */
    background-color: rgba(29,32,58,255);

}
.footer p{
    font-weight: 300;
    color:white;
}
.icons .fa{
    color: white;
    margin: 0 13px;
    padding:18px 0;
    cursor: pointer;
    font-size: 3em;
}
.icons .fa:hover{
    transform: scale(1.1);
}

.iconsH .fa{
    color: white;
    margin: 0 13px;
    padding:18px 0;
    cursor: pointer;
    font-size: 3em;
}
.iconsH .fa:hover{
    transform: scale(1.1);
    color:aqua;
}

/*SlideShow*/



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 20px;

}

.prevBspace, .nextBspace {
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    color: white;
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 20px;
  
}
.prevBspace:hover, .nextBspace:hover {
    background-color: rgba(0,0,0,0.7);
  }

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.7);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style the header: fixed position (always stay at the top) */
.header {
    
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    position: fixed;
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: rgba(116, 177, 247, 0.9);
    width: 0%;
  }



@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}